@charset "UTF-8";

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 700px) and (max-width: 992px) {
    body{
        background-image: url(img/background-landscape.png);
    }
    #lyrics{
        display: inline-flex;
        width: 95%;
    }
    #korean-ver, #english-ver{
        width: 50%;
        margin: 10px;
    }
    #korean-ver{
        border-left: none;
        border-right: 2px solid var(--color2);
        text-align: right;
    }
    #english-ver{
        text-align: left;
    }
    article{
        text-align: center;
    }
    article h1{
        font-size: 5em;
    }
    
    
    iframe{
        height: 460px;
    }
    #info{
        width: 90%;
        
        margin: auto;
        margin-top: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        background-image: url(img/background-landscape.png);
        background-size: contain;
    }
    aside{
        background-color: var(--color2);
        width: 300px;
        height: 500px;
        
    }
    article{
        width: 800px;
        margin: auto;
    }
    main{
        display: flex;
    }
    #lyrics{
        display: inline-flex;
        width: 95%;
    }
    article h1{
        font-size: 6em;
    }
    #korean-ver, #english-ver{
        width: 50%;
        margin: 10px;
    }
    #korean-ver{
        border-left: none;
        border-right: 2px solid var(--color2);
        text-align: right;
    }
    #korean-ver h2{
        text-align: right;
    }
    #english-ver p{
        font-size: 1.1em;
    }
    #english-ver h2{
        text-align: left;
    }
    #english-ver{
        text-align: left;
    }
    iframe{
        height: 460px;
    }
    article{
        text-align: center;
    }
    #info{
        width: 90%;
        padding: 10px;
        margin: auto;
        margin-top: 20px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}