@charset "UTF-8";



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 620px) {
    body{
        background-image: linear-gradient(55deg, var(--cor3), black 70%);
    }
    #login{
        display: flex;
        width: 600px;
        height: 300px;
        
    }
    #imagem{
        height: 100%;
        width: 50%;
        border-radius: 10px 0px 0px 10px;
    }
    #form{
        width: 50%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #login{
        display: flex;
        width: 800px;
        height: 450px;
        
    }
    #imagem{
        height: 450px;
        width: 500px;
        border-radius: 10px 0px 0px 10px;
    }
    #login p{
        font-size: 1.1em;
    }
    #login h2{
        font-size: 2.5em;
    }
    input{
        width: 250px;
    }
    .campo{
        padding-left: 20px;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}