@charset "UTF-8";



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 620px) and (max-width: 992px) {
    body{
        background-image: url(img/wallpaper1.png);
        background-size: cover;
        background-repeat: no-repeat
    }
    #login{
        display: flex;
        width: 600px;
        height: 350px;
        
    }
    #imagem{
        height: 100%;
        width: 50%;
        border-radius: 10px 0px 0px 10px;
    }
    #form{
        width: 50%;
    }
    .campo{
        margin: 2px 0px;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        background-image: url(img/wallpaper.png);
        background-size: cover;
        background-repeat: no-repeat
    }
    #login{
        display: flex;
        width: 800px;
        height: 470px;
        
    }
    #imagem{
        height: 100%;
        width: 50%;
        border-radius: 10px 0px 0px 10px;
    }
    #form{
        width: 50%;
        text-align: center;
    }
    #login p{
        font-size: 1.6em;
    }
    #login h2{
        font-size: 3em;
    }
    input{
        width: 250px;
    }
    .campo{
        padding-left: 20px;
        margin: 12px 0px;    
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}